body {
	margin: 0 auto;
	padding: 0;
	background-color: #1D8DC2;
}

#button{
	background: #519839
}
#list {
	width: 190px;
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 3px;
	background: #eee;
	padding-bottom: 10px;
	font-size: 16px;
}

/*Active add List*/
.addOn{
		background:  #147AA7;
		display: block;
		padding: 5px;
		cursor: pointer;
    width: 200px;
    height: 30px;
    margin-left: 10px;
    color:#fff;
	  font-size: 16px;
}

/*Disabled add List*/
.addOff{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    color:#fff;
	  font-size: 16px;
    background: #C6567E;
    display:none;
}


.areaText {
	margin-left: 10px;
	margin-top: 5px;
	display: block;
	font-size: 14px;
}

.bttn {
	margin-left: 10px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#fff;
	background-color:#519839;
}

/*disabled button*/
.buttonOff {
	margin-left: 10px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#fff;
	background-color:#A5E0FC;
	display: none;
}

.contenedor {
	font-size: 14px;
}


.inline {
	display: inline-block;
	float: left;
}

/*Active List*/
.listOn {
	background: #ddd;
	width: 200px;

	margin-left: 10px;
	overflow: hidden;
}

/*Disabled List*/
.listOff {
	background: #ddd;
	width: 200px;

	margin-left: 10px;
	display: none;
	overflow: hidden;
}

/*Disabled text area*/
.textAreaOff {
	margin-left: 10px;
	margin-top: 5px;
	font-family: arial;
	font-size: 14px;
	display: none;
}

/*tajertas ocultas*/
.newLinkTarjetaOff {
	display:none;
	font-family: arial;
	font-size: 16px;
}

.link {
	padding: 4px;
	margin: 4px;
	width: 92%;
	font-size: 16px;
	background: #C4C9CC;
}

.top-bar {
  background: #147AA7;
  height: 50px;
  text-align: center;
}

img {
  width: 8%;
  display: inline-block;
  margin-top: 8px;
}

.left-buttons{
  position: absolute;
  left: 20px;
  top: 10px;

}

.boards {
  background: #66A3C1;
  border-radius: 8px;
  display: inline-block;
  height: 30px;
  width: 120px;
}

.lens {
  background: #66A3C1;
  border-radius: 8px;
  display: inline-block;
  height: 30px;
  width: 180px;
  margin-left: 7px;
}

.right-buttons {
  position: absolute;
  right: 20px;
  top: 10px;
}

.plus,
.clock,
.bell,
.photo {
  background: #66A3C1;
  border-radius: 8px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.photo {
  border-radius: 50%;
}

.title-board {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
